.app {
  display: flex;
  height: 100%;
}

.themeDark {
  --text: whitesmoke;
  --icon: #c0c0c0;
  --searchBar-background: #3f3f3f;
  --searchBar-placeholder: #8a8787;
  --sidebar-background: #383838;
  --sidebarItem-color: #c0c0c0;
  --sidebarItem-selected: #2d2c2c;
  --sidebarItem-hover: #424242;
  --fileView-background: #1e1e1e;
}

.themeLight {
  --sidebar-background: #c7c7c7;
}
