.file {
  width: 100%;
  height: 100%;
  background-color: var(--fileView-background);
}

.toolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.options {
  display: flex;
  flex: 2;
  color: var(--icon);
  justify-content: flex-end;
  align-items: center;
}

.optionsIcon {
  margin-right: 24px;
  font-size: 24px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 30px 20px 30px;
}

.sectionName {
  font-size: 28px;
  color: var(--sectionHeader-text);
  font-weight: 600;
}
