.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  color: var(--text);
}

.listItem:hover {
  background-color: var(--listItem-hover);
  cursor: pointer;
}

.listItemHighlighted {
  background-color: var(--listItem-highlighted);
}

.listItemSelected {
  background-color: var(--listItem-selected);
}

.listItemSelected:hover {
  background-color: var(--listItem-selected);
}

.itemIcon {
  margin: 0px 10px;
}

.cell {
  flex: 1;
}
